<head>
  <title>DCR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="container">
    <h1>Digital Certificate Registry </h1>

    <p>Upload any file and generate a hash. You can then transfer that hash to the person you wish to show your documents. </p>

    {{> notice }}
    <div class="row">

        {{> newDocument }}

        {{> transferDocument }}

    </div>
    {{> documentTable }}
    {{> debug}}
  </div>
</body>

<template name="debug">
  <p>
    Balance: {{ balance }} Ether
  </p>
</template>

<template name="notice">
  {{#if notConnected}}

  {{/if}}

  {{#if notice }}
    <div class="alert alert-success" role="alert">
      {{ notice }}
    </div>
  {{/if}}
</template>
<template name="transferDocument">
  <h2>Transfer ownership</h2>
  <form id="transfer">
    <div class="form-group {{hasErrors}}">
     <label>Document</label>
     <input type="text" id="docHash" name="documentHash" class="form-control">
   </div>
   <div class="form-group">
     <label>Transfer to account</label>
     <input type="text" name="account" class="form-control" id="account">
   </div>
   <button class="btn btn-primary" {{isDisabled}}>Transfer document</button>
  </form>
</template>

<template name="newDocument">
  <h2>New document</h2>
  <form class="form-inline" id="calcHash">
    <div class="form-group">
      <label>Document to hash</label>
      <input class="form-control" type="file" name="fileUpload" id="fileUpload" />
    </div>
    <button class="btn btn-primary">Calculate Hash</button>
  </form>

  <form id="submitDoc" name="submitDoc" class="form-vertical">
   <div class="form-group">
     <label>Document Hash</label>
     <input type="text" name="documentHash" readonly=true placeholder="Calculated hash" value="{{documentHash}}" class="form-control">
   </div>
   <button class="btn btn-primary" {{isDisabled}}>Submit document</button>
  </form> <br> <br>
</template>

<template name="documentTable">


</template>
